@using HairSalon.Models;

<h1>Hair salon</h1>
<h2>Client information: </h2>
<h3>Client: @Model["selectedClient"].GetName()</h2>
<h3>Client phone number: @Model["selectedClient"].GetPhoneNumber()</h3>
<h3>Client notes: @Model["selectedClient"].GetNotes()</h3>

@if (@Model["clientStylists"].Count != 0)
{
    <h4>This client has these stylists:</h4>
    <ul>
        @foreach (Stylist stylist in @Model["clientStylists"])
        {
            <li>@stylist.GetName()</li>
        }
    </ul>
}

<h4>Add a stylist to this client:</h4>

<form action='/clients/@Model["selectedClient"].GetId()/stylists/new' method='post'>
    <label for='stylistId'>Select a stylist</label>
    <select id='stylistId' name='stylistId' type='text'>
        @foreach (var stylistId in @Model["allStylists"])
        {
            <option value='@stylistId.GetId()'>@stylistId.GetName()</option>
        }
    </select>
    <br/><button type='submit'>Add</button>
</form>

<form action='/clients/@Model["selectedClient"].GetId()/delete' method='post'>
    <button id='@Model["selectedClient"].GetId()' name='@Model["selectedClient"].GetId()' type='submit'>Delete @Model["selectedClient"].GetName() </button>
</form>

<p><br/><a href='/clients/@Model["selectedClient"].GetId()/edit'>edit @Model["selectedClient"].GetName()</a></p>

<p><a href='/stylists/new'>Add a new stylist</a></p>
<br/><p><a href="/">Return to Main Page</a></p>